$color1: #FFFFFF;
$color2: #3F5D45;
$color3: #2C4832;
$color4: #EAF0ED;
$color5: #FFE180;




.email {
    height: 116px;
    background-color: $color2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text1 {
        display: flex;
        align-items: center;
        margin-left: 122px;

        .logo_light {
            width: 40px;
            height: 40px;
        }

        p {
            color: $color4;
            font-size: 24px;
            margin-left: 20px;
        }
    }

    .text2 {
        display: flex;
        margin-right: 122px;

        .box1 {
            height: 56px;
            width: 316px;
            background-color: $color4;
            position: relative;
            .mail{
                position: absolute;
                top: 16px;
                left: 20px
            }
        }

        .box2 {
            width: 64px;
            height: 56px;
            background-color: $color5;
            position: relative;
            .arrow_forward{
                position: absolute;
                top: 18px;
                right: 22px;
            }
        }
    }
}