$color1:#FFFFFF;
$color2:#3F5D45;
$color3:#2C4832;
$color4:#EAF0ED;
$color5:#FFE180;






header {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 42px;
    h1 {
        .logo {
            height: 40px;
        }
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            a{
                color: $color2;
                text-decoration: none;
                padding-left: 60px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

}