@import "cssreset";
@import "header";
@import "banner";
@import "container";
@import "mark";




$color1:#FFFFFF;
$color2:#3F5D45;
$color3:#2C4832;
$color4:#EAF0ED;
$color5:#FFE180;


.wrap{
    max-width: 1024px;
    margin:  0 auto;
}